<h2>Users</h2>
<table>
 <tr>
  <th>image</th>
  <th>name</th>
  <th></th>
  <th colspan="3"></th>
 </tr>
 <tbody>
  <% @users.each do |user| %>
   <tr>
    <td></td>
    <td><%= user.name %></td>
    <td><%= link_to 'show', '#' %></td>
   </tr>
  <% end %>
 </tbody>
</table>